{% extends "internal/user/cms/layout.html" %} {% block content %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 p-title">Surgery Bills</h1>
        </div>

        <!-- Main content -->
        <!-- /.col -->
      </div>
      <!--  DataTable -->
      <div class="row">
        <div class="col-sm-12">
            <div class="card card-primary card-outline">
                <div class="card-header border-0">
                    <div class="d-flex justify-content-between">
                        <h3 class="card-title">List of Surgery Bills</h3>
                    </div>
                </div>
                <div class="card-body mt-0 pt-0">
                    <table class="table table-hover table-bordered" id="surgery_bill_table" style="width: 100%">
                        <thead>
                            <tr>
                                <th>Surgery Bill No.</th>
                                <th>Surgery No.</th>
                                <th>Surgery Type</th>
                                <th>Inpatient Bill No.</th>
                                <th>Inpatient Name</th>
                                <th>Total Amount</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <!-- /.card -->
        </div>
    </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->

  <!-- /.content -->
</div>

{% endblock %} {% block customjs %}
<script src="{{ url_for('assets', path='/') }}ap_ar/surgery_bill.js"></script>
{% endblock %}
