<!-- Default Modal -->
<div class="modal fade" id="confirm-modal">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><i id="confirm-title-icon"></i><span id="confirm-title"></span></h4>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <p id="confirm-text"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" id="confirm-submit"><span id="confirm-submit-text"></span><i id="confirm-submit-icon"></i></button>
      </div>
    </div>
    <!-- /modal-content -->
  </div>
  <!-- /modal-dialog -->
</div>
<!-- /modal -->
