{% extends 'internal/shared/base.html' %}

<!-- browser title -->
{% block browser_title %}Main Dashboard | Home{% endblock browser_title %}



<!-- ASSETS -->

{% block specific_assets %}
  <link rel="stylesheet" href="{{ url_for('assets', path='/general_ledger/css/internal/index.css') }}" />
{% endblock specific_assets %}

<!-- /ASSETS -->



<!-- SIDEBAR -->
<!-- /SIDEBAR -->



<!-- CONTENT -->

{% block content_title %}Main Dashboard{% endblock content_title %}
{% block content_subtitle %}Home/Main Dashboard{% endblock content_subtitle %}

{% block main_content %}
  <!-- Under Maintenance -->
  <div class="d-flex flex-column justify-content-center align-items-center text-center">
    <div class="py-5 d-flex justify-content-center">
        <img 
            draggable="false"
            src="{{ url_for('assets', path='/svg/under_construction.svg') }}" 
            alt="Under Maintenance" 
            width="50%"
        >
    </div>
    <h4>Oops! This page is under maintenance.</h4>
    <p class="text-secondary">You can go back in others days. Sorry for the inconvenience.</p>
  </div>
{% endblock main_content %}

<!-- /CONTENT -->



<!-- SCRIPTS -->

{% block specific_scripts %}
  <!-- index -->
  <script src="{{ url_for('assets', path='/general_ledger/js/internal/index.js') }}"></script>
{% endblock specific_scripts %}

<!-- /SCRIPTS -->